@keyframes throb-1 {
    0% {transform: scale(1, 1);}
    20% {transform: scale(1.1, 1.1)};
    80% {transform: scale(1.1, 1.1)};
    100% {transform: scale(1, 1);}
}
@keyframes throb-2 {
    0% {transform: scale(1, 1);}
    1% {transform: scale(1, 1);}
    30% {transform: scale(1.1, 1.1)};
    70% {transform: scale(1.1, 1.1)};
    100% {transform: scale(1, 1);}
}
@keyframes throb-3 {
    0% {transform: scale(1, 1);}
    2% {transform: scale(1, 1);}
    40% {transform: scale(1.1, 1.1)};
    60% {transform: scale(1.1, 1.1)};
    100% {transform: scale(1, 1);}
}
@keyframes throb-4 {
    0% {transform: scale(1, 1);}
    3% {transform: scale(1, 1);}
    50% {transform: scale(1.1, 1.1)};
    100% {transform: scale(1, 1);}
}
.throbber {
    margin: 50px auto 22px;
    width: 260px;
    height: 260px;
    position: relative;
}
.first {
    border-radius: 50%;
    width: 260px;
    height: 260px;
    background: rgba(234, 234, 234, 0.3);
    animation: throb-1 3s 1;
}
.second {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 30px;
    top: 30px;
    background: rgba(234, 234, 234, 0.6);
    animation: throb-2 3s 1;
}
.third {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    position: absolute;
    left: 50px;
    top: 50px;
    background: rgba(234, 234, 234, 0.8);
    animation: throb-3 3s 1;
}
.fourth {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    position: absolute;
    left: 60px;
    top: 60px;
    background: #eaeaea;
    animation: throb-4 3s 1;
}
.painting {
    position: absolute;
    left: 89px;
    top: 74px;
}
.headline {
    font-family: "Sentinel SSm A", "Sentinel SSm B";
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    letter-spacing: 5px;
    text-align: center;
    color: #241816;
}
.links {
    list-style-type: none;
    padding: 0;
    margin: 50px auto;
    display: flex;
    width: 260px;
}
.link {
    font-family: "Chronicle SSm A", "Chronicle SSm B";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    flex-grow: 1;
}
.link a {
    color: black;
    text-decoration: none;
    position: relative;
}
.link a:before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #a461af;
    transition: all ease 200ms;
}
.link:hover a:before {
    transform: translateY(2px);
}
.link a:visited {
    color: black
}
.link a:hover {
    color: black
}
.link a:active {
    color: black
}
